<%= form_with(model: @article, local: true) do |form| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= @article.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="article_title control">
    <%= form.label :title %>
    <%= form.text_field :title, class: "input", placeholder: "タイトル" %>
  </div>
  <div class="article_image">
    <%= form.label :picture %>
    <%= form.file_field :picture %>
  </div>
  <div class="article_content control">
    <%= form.label :content %>
    <%= form.text_area :content ,class: "textarea", placeholder: "温泉体験", rows: "10" %>
  </div>
  <%= form.submit %>
<% end %>
<%= link_to '一覧ページ', articles_path %>
