<%= form_with(model: @article, local: true) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= @article.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.fields_for :onsen do |onsen_form| %>
    <div class="field">
      <%= onsen_form.hidden_field :name, value: @onsen.name %>
    </div>
    <div class="field">
      <%= onsen_form.hidden_field :prefectures, value: @onsen.prefectures %>
    </div>
    <div class="field">
      <%= onsen_form.hidden_field :quality, value: @onsen.quality %>
    </div>
    <div class="field">
      <%= onsen_form.hidden_field :infomation, value: @onsen.infomation %>
    </div>
  <% end %>

  <div class="article_title control">
    <%= f.label :title %>
    <%= f.text_field :title, class: "input", placeholder: "タイトル" %>
  </div>
  <div class="field">
    <%= f.label :label %>
    <%= f.collection_check_boxes(:label_ids, Label.all, :id, :name) %>
  </div>
  <div class="article_image">
    <%= f.label :picture %>
    <%= f.file_field :picture %>
  </div>
  <div class="article_content control">
    <%= f.label :content %>
    <%= f.text_area :content ,class: "textarea", placeholder: "温泉体験", rows: "10" %>
  </div>
  <%= f.submit "投稿する", class: "button is-info"%>
<% end %>
<%= link_to '一覧ページ', articles_path %>
