  <section class="hero is-small has-bg-img">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">
            <%= form_tag :search_articles, method: :get do  %>
            <%= label_tag :prefectures, '都道府県を選択' %>
            <%= select_tag 'prefectures',options_for_select({hokkaido: '010000', aomori: '020000', iwate: '030000'},selected: '010000') %>
            <%= label_tag :number, '温泉の泉質から検索' %>
            <%= select_tag 'number',options_for_select((0..18),selected: '0') %>
            <%= submit_tag "検索" %>
          <% end %>
        </h1>
      </div>
    </div>
  </section> 