  <section class="hero is-small has-bg-img">
    <div class="hero-body onsen-image">
      <div class="container has-text-centered">
        <h1 class="title has-text-white">
            <%= form_tag :search_articles, method: :get do  %>
            <%= label_tag :prefectures, '都道府県を選択' %>
            <%= select_tag 'prefectures',options_for_select(prefectures ,selected: '010000'), class: 'select is-medium' %>
            <%= label_tag :number, '温泉の泉質から検索' %>
            <%= select_tag 'number',options_for_select(select_quarity ,selected: '0'), class: 'select is-medium' %>
            <%= submit_tag "検索", class: 'button is-info', id: 'search-onsen-button' %>
          <% end %>
        </h1>
      </div>
    </div>
  </section> 