  <section class="hero is-small has-bg-img">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title has-text-white">
            <%= form_tag :search_articles, method: :get do  %>
            <%= label_tag :prefectures, '都道府県を選択' %>
            <%= select_tag 'prefectures',options_for_select({ '北海道': '010000', '青森': '020000', '岩手': '030000', '宮城県': '040000', '秋田県': '050000', '山形県': '060000', '福島県': '070000', '栃木県': '080000', '群馬県': '090000', '茨城県': '100000', '埼玉県': '110000', '千葉県': '120000', '東京都': '130000', '神奈川県': '140000', '山梨県': '150000', '長野県': '160000', '新潟県': '170000', '富山県': '180000', '石川県': '190000', '福井県': '200000', '静岡県': '210000', '岐阜県': '220000', '愛知県': '230000', '三重県': '240000', '滋賀県': '250000', '京都府': '260000', '大阪府': '270000', '兵庫県': '280000	', '奈良県': '290000', '和歌山県': '300000', '鳥取県': '310000', '島根県': '320000', '岡山県': '330000', '広島県': '340000', '山口県': '350000', '	徳島県': '360000', '香川県': '370000', '愛媛県': '380000', '高知県': '390000', '福岡県': '400000', '佐賀県': '410000', '長崎県': '420000', '熊本県': '430000', '大分県': '440000', '宮崎県': '450000', '鹿児島県': '460000', '沖縄県': '470000' },selected: '010000'), class: 'select' %>
            <%= label_tag :number, '温泉の泉質から検索' %>
            <%= select_tag 'number',options_for_select({ '絞り込まない': '0', '単純温泉': '1', 'アルカリ単純泉': '2', '単純炭酸泉': '3', '弱アルカリ性低張性泉': '4', '中性低張性高温泉': '5', '塩化物泉': '6', 'ナトリウム塩化物泉': '7', '炭酸水素塩泉': '8', '炭酸鉄泉': '9', '硫酸塩泉': '10', '二酸化炭素泉': '11', '含鉄泉': '12', '含銅一鉄泉': '13', '硫黄泉': '14', '酸性泉': '15', '含アルミニウム泉': '16', '放射能泉': '17', '鉱泉': '18', },selected: '0'), class: 'select'%>
            <%= submit_tag "検索", class: 'button is-info', id: 'search-onsen-button' %>
          <% end %>
        </h1>
      </div>
    </div>
  </section> 