<div class="right-nav column is-3">
  <h2>宿泊情報</h2>
  <div class="box">

    <%= form_tag :articles, method: :get do  %>
      <%= label_tag :keyword, 'キーワード検索' %>
      <%= text_field_tag 'keyword', params[:keyword] %>
      <%= submit_tag "検索" %>
    <% end %>

    <% if @result_hotel.present? %>
      <% @result_hotel["hotels"].each do |hotel| %>
        <div class="column">
          <%= link_to hotel["hotel"][0]["hotelBasicInfo"]["hotelName"], hotel["hotel"][0]["hotelBasicInfo"]["hotelInformationUrl"], target: :_blank %>
          <br>
          <img src="<%= hotel["hotel"][0]["hotelBasicInfo"]["hotelImageUrl"] %>" alt="<%= hotel["hotel"][0]["hotelBasicInfo"]["roomThumbnailUrl"] %>">
          <br>
          <%= hotel["hotel"][0]["hotelBasicInfo"]["hotelSpecial"] %>
          <br>
          <p>利用した人の声↓</p>
          <%= hotel["hotel"][0]["hotelBasicInfo"]["userReview"].to_s.html_safe %>
          <br>
        </div>
      <% end %>
        <% else %>
          <p><%= @error %></p>
    <% end %>

  <!-- Rakuten Web Services Attribution Snippet FROM HERE -->
  <a href="https://webservice.rakuten.co.jp/" target="_blank">Supported by Rakuten Developers</a>
  <!-- Rakuten Web Services Attribution Snippet TO HERE -->

  </div>
</div>