<div class="right-nav column is-3">
  <h2>宿泊情報</h2>
  <div class="box">

    <%= form_tag :articles, method: :get do  %>
      <%= label_tag :keyword, 'キーワード検索' %>
      <%= text_field_tag 'keyword', params[:keyword] %>
      <%= submit_tag "検索" %>
    <% end %>

    <% if @result.present? %>
      <% @result["hotels"].each do |hotel| %>
        <div class="column">
          <%= hotel["hotel"][0]["hotelBasicInfo"]["hotelName"] %>
          <br>
          <img src="<%= hotel["hotel"][0]["hotelBasicInfo"]["hotelImageUrl"] %>" alt="<%= hotel["hotel"][0]["hotelBasicInfo"]["roomThumbnailUrl"] %>">
          <br>
          <%= hotel["hotel"][0]["hotelBasicInfo"]["hotelSpecial"] %>
          <br>
          <p>利用した人の声↓</p>
          <%= hotel["hotel"][0]["hotelBasicInfo"]["userReview"] %>
          <br>
        </div>
      <% end %>
    <% end %>

  </div>
</div>