<div class="main columns">

  <%= render 'left_nav' %>

  <div class="main-contents column is-three-fifths">
    <p>詳細画面</p>
    <div class="box">
      <p>温泉地：<%= @article.onsen.name %></p>
      <p>地域：<%= @article.onsen.prefectures %></p>
      <p>泉質：<%= @article.onsen.quality %></p>
      <p>インフォメーション：<%= @article.onsen.infomation %></p>
      <p class="subtitle is-5">タイトル: <%= @article.title %></p>
      <p class="subtitle is-5">写真: <%= image_tag(@article.picture, width: 680) if @article.picture.attached? %></p>
      <% @article.labels.each do |label| %>
        <div class="label-container">
          <div class="label">
            <%= link_to label.name, articles_path(label_id: label.id) %>
          </div>
        </div>
      <% end %>
      <p class="is-medium">内容: <%= @article.content %></p>
      <%= link_to '記事一覧に戻る', articles_path %>

      <% if user_signed_in?%>
        <%= link_to '新規投稿', new_article_path %>
        <%= link_to '投稿を削除する', article_path(@article.id), method: :delete, data: { confirm: '本当に削除していいですか？' } if @article.user.id == current_user.id %>

        <% if @favorite.present? %>
          <%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
        <% else %>
          <%= link_to 'お気に入り登録する', favorites_path(article_id: @article.id), method: :post, class: 'btn btn-primary' %>
        <% end %>
      <% end %>

      <h2>コメント一覧</h2>

      <div id="comments_area">
        <%= render partial: 'comments/index', locals: { comments: @comments, article_path: @article_path } %>
      </div>
      <% if user_signed_in? %>
        <%= render partial: 'comments/form', locals: { comment: @comment, article_path: @article_path } %>
        <% if @article.user_id == current_user.id %>
          <%= link_to '記事の編集', edit_article_path(@article) %> |
        <% end %>
      <% end %>
      <%= link_to '戻る', articles_path %>
    </div>

  </div>

  <%= render 'right_nav' %>

</div>