  <div class="left-nav column is-2">
    <h2>ユーザー情報</h2>
    <div class="box">
    <% if user_signed_in? %>
      <figure class="image is-128x128">
        <% if current_user.image.attached? %>
          <%= image_tag(current_user.image, width: 96, class: 'image is-rounded') %>
        <% else %>
          <%= image_tag('blank-profile-picture-973460__480.png', width: 96, class: 'image is-rounded') %>
        <% end %>
      </figure>
        <p><%= current_user.name %></p>
        <p><%= current_user.profile %></p>
        <%= link_to 'プロフィール編集', edit_user_path(current_user)%>
        <br>
        <%= link_to "自分の投稿#{current_user.articles.count}件", articles_path(mine: "true") %>
        <br>
        <%= link_to "お気に入り投稿#{current_user.favorites.count}件", articles_path(like: "true") %>
        <p>フォロー<%= current_user.following.count%> フォロワー<%= current_user.followers.count%></p>
      <% else %>
        <figure class="image is-128x128">
          <%= image_tag 'blank-profile-picture-973460__480.png', class: 'is-rounded'%>
        </figure>
        <p>ユーザー名</p>
        <p>自己紹介コメント</p>
      <% end %>
      <div class="container">
        <% if user_signed_in? %>
          <%= link_to "新規投稿", new_article_path %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "新規登録", new_user_registration_path %>
          <%= link_to "ログイン", new_user_session_path %>
        <% end %>
      </div>
    </div>
  </div>