<h1>プロフィール編集</h1>
<%= form_with(model: @user, local: true) do |form| %>

  <div class="user_name">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="user_email">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="user_profile_image">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>
    <%= form.submit %>
<% end %>

<%= link_to '投稿一覧', articles_path%>
