<div class="columns is-centered">
<div class="column is-half has-background-light">
    <h1>プロフィール編集</h1>
    <%= form_with(model: @user, local: true) do |form| %>

      <div class="field">
        <%= form.label :name %><br />
        <%= form.text_field :name, class: "input is-small is-rounded", placeholder: "Username" %>
      </div>

      <div class="field">
        <%= form.label :email %><br />
        <%= form.email_field :email, autofocus: true, autocomplete: "email", class: "input is-small is-rounded", placeholder: "Email" %>
      </div>

      <div class="file">
        <%= form.label :image, class: "file-label" %>
        <%= form.file_field :image, accept: "image/png, image/jpeg, image/gif"%>
      </div>

      <div class="field">
        <%= form.label :profile %><br />
        <%= form.text_field :profile, class: "textarea is-rounded", placeholder: "Profile" %>
      </div>

      <%= form.submit class: "button is-info" %>
    <% end %>

    <%= link_to 'ユーザー情報を削除する', user_path(@user.id), method: :delete, data: { confirm: '本当に削除していいですか？' } if @user.id == current_user.id %>
    <br>
    <%= link_to '投稿一覧', articles_path %>

  </div>
</div>