<div class="container">
  <div class="main columns">

    <%= render 'left_nav' %>

    <div class="column is-half">
      <h2>ユーザー</h2>
      <% @users.each do |user| %>
        <div class="box">
          <figure>
            <% if user.image.attached? %>
              <%= image_tag(user.image, width: 96, class: 'profile-image') %>
            <% else %>
              <%= image_tag('blank-profile-picture-973460__480.png', width: 96, class: 'profile-image') %>
            <% end %>
          </figure>
          <p><%= user.name %>さん</p>
          <p><%= user.email %></p>
          <% unless current_user == user %>
            <%= render 'follow_form', user: user %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>