<!DOCTYPE html>
<html>
  <head>
    <title>Tsukaru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <section class="hero is-info">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Tsukaru
        </h1>
        <h2 class="subtitle">
          Have you ever experienced feel well
        </h2>
        <li><%= link_to 'ユーザー一覧', users_path if user_signed_in? %></li>
      </div>
    </div>
  </section>

  <div class="container">
    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>
  </div>

    <%= yield %>

  </body>
</html>
