<!DOCTYPE html>
<html>
  <head>
    <title>Tsukaru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="has-background-light">
    <section class="hero is-info">
      <div class="hero-body">
        <div class="container level">
        <div class="level-left">
          <ul>
            <li><h1 class="title"><%=link_to 'Tsukaru', articles_path, class: 'title' %></h1>
          </li>
            <li><h2 class="subtitle">温泉を検索して温泉体験をシェアしよう</h2></li>
          </ul>
        </div>
        <div class="level-right">
          <ul class="subtitle">
            <li><%= link_to 'ユーザー一覧', users_path if user_signed_in? %></li>
            <li><%= link_to "記事一覧", articles_path %></li>
            <div class="searchbox field has-addons">
              <div class="control">
                <%= search_form_for @search, url: articles_path do |f| %>
                  <%= f.text_field :content_cont ,placeholder: '記事を検索', class: 'input' %>
              </div>
              <div class="control">
                  <%= f.submit ("検索") , class: 'button is-link is-inverted is-outlined', id: 'search' %>
                <% end %>
              </div>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
  <% end %>

    <%= yield %>
  
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Tsukaru</strong> by <a href="#">kodatakasi</a>
      </p>
  </footer>

  </body>
</html>
